In [4]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5, 6, 7 ],
        'temperatur': [-12, 3, 9, 12, 15, 23, 27]
})

# print out some descriptive statistics
df.describe()

          month  temperatur
count  7.000000         7.0
mean   4.000000        11.0
std    2.160247        13.0
min    1.000000       -12.0
25%    2.500000         6.0
50%    4.000000        12.0
75%    5.500000        19.0
max    7.000000        27.0

- count: länge der serie
- mean: durchschnitt (mittelwert)
- std: standardabweichung (streuung um den mittelwert)
- min: kleinster wert
- 25%: 25-perzentille -> 25% der werte liegen unter diesem betrag
- 50%: 50-perzentille -> entspricht der exakten mitte -> median
- 75%: 75-perzentille -> 75% der werte liegen unter diesem betrag
- max: höchstwert